.container {
  display: grid;
  gap: 15px; 
  margin: 20px;
}

.columna {
  background-color: lightblue;
  border: 1px solid #999;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
}

/*  (PC) 3 columnas */
@media (min-width: 992px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Pantallas medianas (tablets) 2 columnas */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Pantallas pequeñas (celulares)  1 columna */
@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
  }
}
